<ion-view view-title="Vrat Kathao">
  <ion-nav-buttons side="right">
   <button class="button button-clear" ng-click="home.gotoSearch()">
     <i class="icon ion-search"></i>
     </button> 
  </ion-nav-buttons>
  <ion-content style="background-color:#b2b2b2;">
      <div class="list card postCard card-title1" ng-repeat="data in home.data track by $index">

  <div class="item item-body item-black row" ng-click="home.gotopostDetail(data)">
    <!--<div class="myWidth">
    <img ng-src="{{data.image || 'img/noImage.svg'}}" class="img-card">  
     </div>-->
    <p class="title" style="margin-left: 14px; padding-bottom:12px; width:100%;">
      {{data.title| limitTo:35}} {{data.title.length > 35 ? '...' : ''}}
    </p>
    <!--<div class="readFullArticle">
    <p style="color:white;float: right;width: 118px;">Read Full Article</p>
    </div>-->
  </div>

</div>
<div class="padding" ng-if="home.data">
    <button class="button button-block button-positive" ng-click="home.loadMore()">Load more</button>

  </div>
  </ion-content>
</ion-view>
